body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 26px;
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background: black;
    color: #00ffcc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #334155;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #475569;
}

button:nth-child(4n) {
    background: #2563eb;
}

button:nth-child(1) {
    background: #ef4444;
}

button:nth-child(2) {
    background: #9333ea;
}

button:nth-child(16) {
    background: #f59e0b;
}

.zero {
    grid-column: span 2;
}